<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GreenLifeDbConnection"
			 connectionString="Data Source=NISHANTH\SQLEXPRESS;Initial Catalog=GreenLifeOrganicStoreDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>